{% extends "adminpanel/base.html" %}
{% load project_filters %}
{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-12">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-diagram-project"></i> {{ PAGE_TITLE }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin-projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ PROJECT.name }}</li>
                </ol>
            </nav>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ object }} Deleted!</strong><br> The client was successfully deleted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Details</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="project-name">Project Name</label>
                        <input class="form-control" name="project-name" id="project-name" value="{{ PROJECT.name }}" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="project-description">Project Description</label>
                        <textarea class="form-control" name="project-description" id="project-description" rows="20" disabled="disabled">{{ PROJECT.description }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Information</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="project-status">Status</label>
                        <input class="form-control bg-{% if PROJECT.status == "not_started" or PROJECT.status == "blocked" or PROJECT.status == "cancelled" %}blocked{% elif PROJECT.status == "in_progress" or PROJECT.status == "on_hold" %}warning{% else %}success{% endif %}" name="project-status" id="project-status" value="{{ PROJECT.get_status_display }}" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="project-start-date">Project Started</label>
                        <input class="form-control" name="project-start-date" id="project-start-date" value="{{ PROJECT.start_date }}" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        {% now "Y-m-d" as current_date %}
                        <label for="project-end-date">
                            Project
                            {% if PROJECT.end_date %}
                                {% if PROJECT.end_date|date:"Y-m-d" > current_date %}
                                    Ending
                                {% else %}
                                    Ended
                                {% endif %}
                            {% else %}
                                {% if PROJECT.status == "completed" %}
                                    Ended
                                {% else %}
                                    Ending
                                {% endif %}
                            {% endif %}
                        </label>
                        <input class="form-control" name="project-end-date" id="project-end-date" value="{% if PROJECT.end_date %}{{ PROJECT.end_date }}{% else %}{% if PROJECT.status == "completed" %}{{ PROJECT.start_date }}{% else %}Unknown{% endif %}{% endif %}" disabled="disabled" />
                    </div>

                </div>
            </div>

            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Permissions</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="project-owner">Owner</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="project-owner-tag">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="project-owner-tag" name="project-owner" id="project-owner" value="{{ PROJECT.owner.username }} {% if PROJECT.owner.first_name %}({{ PROJECT.owner.first_name }} {{ PROJECT.owner.last_name }}){% endif %}" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="project-members">Members</label>
                        <select multiple class="form-select" name="project-members" id="project-members" disabled="disabled">
                            {% if PROJECT.members.all.count == 0 %}
                                <option value="0" selected="selected">None</option>
                            {% else %}
                                {% for member in PROJECT.members.all %}
                                    <option value="{{ member.id }}" selected="selected">{{ member.username }} {% if member.first_name %}({{ PROJECT.first_name }} {{ PROJECT.last_name }}){% endif %}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Project Tasks</h5>
                </div>
                <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Assignee</th>
                            <th scope="col">Timeline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Requirements</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if PROJECT.tasks.all.count == 0 %}
                            <tr>
                                <td></td>
                                <td>No tasks have been created for this project yet.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for task in PROJECT.tasks.all|dictsort:"id" %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.description }}</td>
                                    <td><span class="badge badge-info"><a href="{% url 'admin-user-detail' id=task.assignee.id %}">{{ task.assignee.username }}</a></span></td>
                                    <td><span class="badge badge-secondary">{{ task.start_date }}-{% if task.end_date %}{{ task.end_date }}{% else %}{% if task.status == "completed" %}{{ task.start_date }}{% else %}Unknown{% endif %}{% endif %}</span></td>
                                    <td><span class="badge badge-{% if task.status == "not_started" or task.status == "blocked" or task.status == "cancelled" %}danger{% elif task.status == "in_progress" or task.status == "on_hold" %}warning{% else %}success{% endif %}">{% if task.requirements.all|count_completed == task.requirements.count %}{{ task.get_status_display }}{% else %}Unmet Requirements{% endif %}</span></td>
                                    <td class="text-center"><span class="badge badge-{% if task.requirements.count == 0 %}secondary{% elif task.requirements.all|count_completed == task.requirements.count %}success{% else %}danger{% endif %}">{{ task.requirements.all|count_completed }}/{{ task.requirements.count }}</span></td>
                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-wrench fa-sm"></i></a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Project Issues</h5>
                </div>
                <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Assignee</th>
                            <th scope="col">Timeline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Severity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in PROJECT.issues.all %}
                                <tr>
                                    <td>{{ issue.name }}</td>
                                    <td>{{ issue.description }}</td>
                                    <td><span class="badge badge-info"><a href="{% url 'admin-user-detail' id=task.assignee.id %}">{{ task.assignee.username }}</a></span></td>
                                    <td><span class="badge badge-secondary">{{ issue.created_at }}</span></td>
                                    <td><span class="badge badge-{% if issue.status == "closed" %}danger{% elif issue.status == "in_progress" or issue.status == "resolved" %}success{% else %}warning{% endif %}">{{ issue.get_status_display }}</span></td>
                                    <td><span class="badge badge-{% if issue.severity == "critical" or issue.severity == "high" %}danger{% elif issue.severity == "medium" %}warning{% else %}success{% endif %}">{{ issue.get_status_display }}</span></td>
                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-wrench fa-sm"></i></a></td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}