{% extends "adminpanel/base.html" %}
{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-md-12">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-diagram-project"></i> {{ PAGE_TITLE }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Projects</li>
                </ol>
            </nav>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ object }} Deleted!</strong><br> The client was successfully deleted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="card text-dark mb-3">
        <div class="card-header">
            <h5 class="card-title text-white float-left">All Projects</h5>
        </div>
        <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Members</th>
                    <th scope="col">Timeline</th>
                    <th scope="col">Status</th>
                    <th scope="col">Tasks</th>
                    <th scope="col">Issues</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for project in PROJECTS %}
                    <tr>
                        {% load static %}
                        <td>{% if project.logo %}<img style="max-height: 25px;" class="img-fluid" alt="{{ project.name }}" src="{{ project.logo.url }}" />{% endif %}</td>
                        <td><a href="#">{{ project.name }}</a></td>
                        <td><a href="{% url 'admin-user-detail' id=project.owner.id %}">{% if project.owner.first_name %}{{ project.owner.first_name }} {{ project.owner.last_name }}{% else %}{{ project.username }}{% endif %}</a></td>
                        <td><span class="badge badge-info">{{ project.members.count }}</span></td>
                        <td><span class="badge badge-secondary">{{ project.start_date }}-{{ project.end_date|default:'Unknown' }}</span></td>
                        <td><span class="badge badge-{% if project.status == "not_started" or project.status == "blocked" or project.status == "cancelled" %}blocked{% elif project.status == "in_progress" %}warning{% else %}success{% endif %}">{{ project.get_status_display }}</span></td>
                        <td class="text-center"><span class="badge badge-info">{{ project.tasks.count }}</span></td>
                        <td class="text-center"><span class="badge badge-danger">{{ project.issues.count }}</span></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}