{% extends "adminpanel/base.html" %}
{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-12">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-diagram-project"></i> {{ PAGE_TITLE }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin-projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ PROJECT.name }}</li>
                </ol>
            </nav>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ object }} Deleted!</strong><br> The client was successfully deleted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Details</h5>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Information</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="project-status">Status</label>
                        <input class="form-control bg-{% if PROJECT.status == "not_started" or PROJECT.status == "blocked" or PROJECT.status == "cancelled" %}blocked{% elif PROJECT.status == "in_progress" or PROJECT.status == "on_hold" %}warning{% else %}success{% endif %}" name="project-status" id="project-status" value="{{ PROJECT.get_status_display }}" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="project-start-date">Project Started</label>
                        <input class="form-control" name="project-start-date" id="project-start-date" value="{{ PROJECT.start_date }}" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        {% now "Y-m-d" as current_date %}
                        <p>Project: {{ PROJECT.end_date|date:"Y-m-d" }}</p>
                        <p>Current: {{ current_date }}</p>
                        <label for="project-end-date">
                            Project
                            {% if PROJECT.end_date %}
                                {% if PROJECT.end_date|date:"Y-m-d" > current_date %}
                                    Ending
                                {% else %}
                                    Ended
                                {% endif %}
                            {% else %}
                                {% if PROJECT.status == "completed" %}
                                    Ended
                                {% else %}
                                    Ending
                                {% endif %}
                            {% endif %}
                        </label>
                        <input class="form-control" name="project-end-date" id="project-end-date" value="{{ PROJECT.end_date|default:"Unknown" }}" disabled="disabled" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}