{% extends "adminpanel/base.html" %}
{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-12">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-diagram-project"></i> {{ PAGE_TITLE }}<a href="{% url 'admin-project-detail' id=TASK.project.id %}" class="btn btn-info float-right">Back to Project</a></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin-projects' %}">Projects</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin-project-detail' id=TASK.project.id %}">{{ TASK.project.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Task #{{ TASK.id }}</li>
                </ol>
            </nav>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ object }} Deleted!</strong><br> The client was successfully deleted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Details</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="project-name">Task Name</label>
                        <input class="form-control" name="name" id="name" value="{{ TASK.project.name }}"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Task Description</label>
                        <textarea class="form-control" name="description" id="description" rows="20">{{ TASK.project.description }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title float-left">Information</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="status">Status <small class="text-danger">required</small></label>
                        <select class="form-select" name="status" id="status">
                            {% for value, display in STATUSES.choices %}
                                <option value="{{ value }}" {% if TASK.status == value %}selected="selected"{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Task Started</label>
                        <input class="form-control" name="start_date" id="start_date" value="{{ TASK.start_date }}" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        {% now "Y-m-d" as current_date %}
                        <label for="end_date">
                            Task
                            {% if TASK.end_date %}
                                {% if TASK.end_date|date:"Y-m-d" > current_date %}
                                    Due Date
                                {% else %}
                                    Overdue
                                {% endif %}
                            {% else %}
                                {% if PROJECT.status == "completed" %}
                                    Overdue
                                {% else %}
                                    Due Date
                                {% endif %}
                            {% endif %}
                        </label>
                        <input class="form-control" name="end_date" id="end_date" value="{% if PROJECT.end_date %}{{ PROJECT.end_date }}{% else %}{% if PROJECT.status == "completed" %}{{ PROJECT.start_date }}{% else %}Unknown{% endif %}{% endif %}" disabled="disabled" />
                    </div>

                </div>
            </div>

            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Permissions</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="assignee">Owner</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="assignee-tag">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="assignee-tag" name="assignee" id="assignee" value="{{ TASK.assignee.username }} {% if TASK.assignee.first_name %}({{ TASK.assignee.first_name }} {{ TASK.assignee.last_name }}){% endif %}" disabled="disabled"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}