{% extends "adminpanel/base.html" %}
{% block page_content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-12">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-diagram-project"></i> {{ PAGE_TITLE }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Project</li>
                </ol>
            </nav>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ object }} Deleted!</strong><br> The client was successfully deleted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Project Details</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Project Name <small class="text-danger">required</small></label>
                        <input type="text" class="form-control" name="name" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="description">Project Description <small>Supports Markdown language support.</small></label>
                        <textarea class="form-control" name="description" id="description" rows="15"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Project Meta</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="start_date">Project Start Date <small class="text-danger">required</small></label>
                        {% now "Y-m-d" as current_date %}
                        <input type="date" class="form-control" name="start_date" id="start_date" value="{{ current_date }}" />
                    </div>
                    <div class="form-group">
                        <label for="logo" class="form-label">Project Logo <small class="text-danger">optional</small></label>
                        <input class="form-control" type="file" id="logo" name="logo" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info float-right" name="create">Create Project</button>
        </div>
    </div>
</form>
{% endblock %}