<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dashboard-tab" href="{% url 'project-detail' id=PROJECT.id %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project-settings' id=PROJECT.id %}">Settings</a>
    </li>
</ul>