{% extends "adminpanel/base.html" %}
{% load model_filters %}
{% block page_content %}
<form action="" method="post">
    {% csrf_token %}
    {% include "projectpulse/project-header.html" %}
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h4 class="card-title text-white float-left">Project Details</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="description">Project Description</label>
                        <textarea class="form-control" rows="15" id="description" name="description">{{ PROJECT.description }}</textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="update-description" class="btn btn-info float-right">Update Description</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h4 class="card-title text-white float-left">Control Panel</h4>
                </div>
                <div class="card-body">
                    {% if PROJECT.status != "completed" %}
                        <button class="btn btn-success btn-block" name="mark-completed">Mark Project Completed</button>
                    {% endif %}
                    {% if PROJECT.status != "in_progress" %}
                        <button class="btn btn-success btn-block" name="mark-in-progress">{% if PROJECT.status == "not_started" %}Start Project{% else %}{% if PROJECT.status == "cancelled" %}Restart{% else %}Reopen{% endif %} Project{% endif %}</button>
                    {% endif %}
                    {% if PROJECT.status == "in_progress" or PROJECT.status == "on_hold" %}
                        <button class="btn btn-danger btn-block" name="mark-cancelled">Cancel Project</button>
                    {% endif %}
                    {% if PROJECT.status == "in_progress" %}
                        <button class="btn btn-warning btn-block" name="mark-on-hold">Hold Project</button>
                    {% endif %}
                </div>
            </div>
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h4 class="card-title text-white float-left">Project Timeline</h4>
                </div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control {% if PROJECT.status != "not_started" %}is-valid{% endif %}" id="start_date" name="start_date" value="{{ PROJECT.start_date|date:"Y-m-d" }}"/>
                        <label for="start_date">Date Started</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control {% if PROJECT.end_date|date:"Y-m-d" < current_date and PROJECT.status != "completed" %}is-invalid{% endif %}" id="end_date" name="end_date" value="{{ PROJECT.end_date|date:"Y-m-d" }}"/>
                        <label for="end_date">Date {% if PROJECT.end_date|date:"Y-m-d" > current_date %}Ending{% else %}Ended{% endif %}</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="update-timeline" class="btn btn-info float-right">Update Timeline</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}